/* regole debug*/
 [class*="col-"]{
  border: 1px solid black;
  min-height: 45px;
}
/* regole @Query */

/* Small devices (tablets, 768px and up) */
@media all and  (min-width: 300px) and (max-widht:767px) {
.ms_logo{
width: 20%
}

 }

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width:768px) and (max-width:1199px) {
  #navbar.navbar-collapse.collapse.in, .navbar-toggle{
    display: inline-block;
    position: absolute;
    top:5px;
    right:0px;
  }
  ul.nav:nth-child(1), ul.nav:nth-child(2){
    display: none;
  }
}
/* Large devices (large desktops, 1200px and up) */
@media all and (min-width:1200px) {
  #navbar.navbar-collapse.collapse.in, .navbar-toggle{
    display: none;
  }

 }
/* regole generalli */
body{
  font-family: 'Inter', sans-serif;
}
.ms_conteiner{
  width:90%;
  margin:auto;
  text-align: center;
}


.navbar-fixed-bottom, .navbar-fixed-top {
    left: 10%;
    right: 10%;

}
.ms_grey{
  color: rgb(122, 133, 159);
}
/* regole header */
.ms_header{
  width: 100%;
  height: 66px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

}
.ms_logo{
  width: 16%;
  float: left;
  padding: 15px 0 ;
}
header .navbar-nav{
  margin-top: 10px;
  font-size: 13px;
  font-weight:bold;
  z-index: 999;


}
header .navbar-nav:first-child{
  margin-left: 10%;
}
header .navbar-nav:last-child{
  margin-right: 7%;
}
/* regole jumbotron */
.ms_jumbotron{
  width: 100%;
  min-height: 600px;
  background-color: #0069ff;
  background-image: url(img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;
  background-position: center;
  padding-top: 165px;
  /* margin-bottom: 50px; */
}
.ms_conteiner .ms_jumbotitle{
  color:white;
  text-align: left;
}
.ms_conteiner .ms_jumbotitle h1{
  font-size: 55px;
  font-weight: bold;
  padding-bottom: 30px;

}
.ms_jamboparagraph{
  font-size: 17px;
  line-height: 30px;
}
.myform{
  background-color: white;
  padding: 0 10px 10px 10px;
  border: 10px solid transparent;
  border-radius: 5px;
}
.ms_formsignin{
  font-weight: bold;
  text-align: center;
}

.ms_formsignin:last-of-type{
  color: rgb(0, 106, 255);
}
.myform .form-control{
  padding:0;


}
.myform #inputPassword{
  width: 100%;
  height: 34px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 4px;
}
.ms_jumbotron > div > div > div > div.col-xs-12.col-md-5.col-lg-5 > div > form > div.checkbox{
  text-align: left;
}
.myform .btn-group-lg>.btn, .btn-lg {
    padding: 6px 4px;
    font-size: 15px;
    border-radius: 10px;
    background-color:rgb(87, 154, 255);
    border-color:rgb(87, 154, 255);
    font-weight: bold;


}
.myform .btn-group-lg>.btn, .btn-lg:last-child{
  background-color:white;
  border-color:rgb(99, 99, 99);
  color: rgb(99, 99, 99);
  position: relative;
  margin-bottom: 20px;

}
.ms_googleico{
  width: 15px;
  line-height: 1.3333333;
  position: absolute;
  left:10px;
  top:8px;
}
.ms_condition{
  font-size: 12px;
padding: 30px 0;
font-weight: bold;

white-space: nowrap;
}
.ms_condition a{
  text-decoration: underline;
}
/* sezione ms_logosponsor */
.ms_logosponsor{
  padding-bottom: 200px;
  padding: 50px 0 0 30px;
  background-color: rgb(243, 245, 249);
}
.ms_logosponsor h5{
  font-weight: bold;
}
 .ms_logosponsor div.col-xs-6{
   padding: 0;
 }
 section.ms_logosponsor > div > div > div > div.row > div > a{
  margin-top: 30px;
  border: none;
  background-color: transparent;


 }
  section.ms_logosponsor > div > div > div > div.row > div:nth-child(2) > a{
  margin-top:22px;
  }
 section.ms_logosponsor > div > div > div > div.row > div:nth-child(2) > a > img{
  width: 127px;
}
body > main > section.ms_logosponsor > div > div > div > div.row > div.col-xs-12.col-md-12.col-lg-12{
  margin-top: 30px;
  font-size: 16px;
  font-weight:bold;
}
/* sezione ms_trident  */
.ms_trident h2{
  font-size: 33px;
  font-weight: bold;
  color: rgb(3, 28, 78);
}
.ms_trident  p{
  font-size: 20px;
  font-weight: 500;


}
section.ms_trident > div > div > div:nth-child(2) > div > ul{
  border-left: 2px solid rgb(204, 204, 204);
    margin-top: 70px;

}

section.ms_trident > div > div > div:nth-child(2) > div > ul > li{
  text-align: left;
  border: none;
}
section.ms_trident > div > div > div:nth-child(2) > div > ul > li > a{
  color: rgb(128, 138, 162);
  font-size: 17px;
  font-weight: 500;
}
