/* regole debug*/
 [class*="col-"]{
  /* border: 1px solid black; */
  min-height: 35px;
}

/* regole generali */
body{
  font-family: 'Inter', sans-serif;
}

.ms_conteiner{
  width:90%;
  margin:auto;
  text-align: center;
}

.navbar-fixed-bottom, .navbar-fixed-top {
  left: 0;
  right: 0;
}

.ms_grey{
  color: rgb(122, 133, 159);
}


/* regole header */


.ms_header{
  width: 100%;
  /* height: 66px; */
  background-color: white;
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0; */
}

.ms_logo{
  width: 16%;
  float: left;
  padding: 15px 0 ;
}

header .navbar-nav{
  margin-top: 10px;
  font-size: 13px;
  font-weight:bold;
  z-index: 999;
}

header .navbar-nav:first-child{
  margin-left: 8%;
}

header .navbar-nav:last-child{
  margin-right: 0;
}


/* regole jumbotron */


.ms_jumbotron{
  width: 100%;
  min-height: 600px;
  background-color: #0069ff;
  background-image: url(img/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;
  background-position: center;
  padding-top: 165px;
}

.ms_conteiner .ms_jumbotitle{
  color:white;
  text-align: left;
}

.ms_conteiner .ms_jumbotitle h1{
  font-size: 55px;
  font-weight: bold;
  padding-bottom: 30px;
}

.ms_jamboparagraph{
  font-size: 17px;
  line-height: 30px;
}

.myform{
  background-color: white;
  padding: 0 10px 10px 10px;
  border: 10px solid transparent;
  border-radius: 5px;
}

.ms_formsignin{
  font-weight: bold;
  text-align: center;
}

.ms_formsignin:last-of-type{
  color: rgb(0, 106, 255);
}

.myform .form-control{
  padding:0;
}

.myform #inputPassword{
  width: 100%;
  height: 34px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-radius: 4px;
}

.ms_jumbotron > div > div > div > div.col-xs-12.col-md-5.col-lg-5 > div > form > div.checkbox{
  text-align: left;
}

.myform .btn-group-lg>.btn, .btn-lg {
    padding: 6px 4px;
    font-size: 15px;
    border-radius: 10px;
    background-color:rgb(87, 154, 255);
    border-color:rgb(87, 154, 255);
    font-weight: bold;
}

.myform .btn-group-lg>.btn, .btn-lg:last-child{
  background-color:white;
  border-color:rgb(99, 99, 99);
  color: rgb(99, 99, 99);
  position: relative;
  margin-bottom: 20px;
}

.ms_googleico{
  width: 15px;
  line-height: 1.3333333;
  position: absolute;
  left:10px;
  top:8px;
}

.ms_condition{
  font-size: 12px;
  padding: 30px 0;
  font-weight: bold;
  white-space: nowrap;
}

.ms_condition a{
  text-decoration: underline;
}


/* sezione ms_logosponsor */


.ms_logosponsor{
  padding-bottom: 200px;
  padding: 50px 0 0 30px;
  background-color: rgb(243, 245, 249);
}

.ms_logosponsor h5{
  font-weight: bold;
}

.ms_logosponsor div.col-xs-6{
 padding: 0;
}

section.ms_logosponsor > div > div > div > div.row > div > a{
  margin-top: 30px;
  border: none;
  background-color: transparent;
 }

section.ms_logosponsor > div > div > div > div.row > div:nth-child(2) > a{
  margin-top:22px;
  }

section.ms_logosponsor > div > div > div > div.row > div:nth-child(2) > a > img{
  width: 127px;
}

body > main > section.ms_logosponsor > div > div > div > div.row > div.col-xs-12.col-md-12.col-lg-12{
  margin-top: 30px;
  font-size: 16px;
  font-weight:bold;
}


/* sezione ms_trident  */


.ms_sectiontitle{
  font-size: 33px;
  font-weight: bold;
  color: rgb(3, 28, 78);
}

.ms_paragraph{
  font-size: 20px;
  font-weight: 500;
}

section.ms_trident > div > div > div:nth-child(2) > div > ul{
  border-left: 2px solid rgb(204, 204, 204);
  margin-top: 70px;
}

section.ms_trident > div > div > div:nth-child(2) > div > ul > li{
  border: none;
}

section.ms_trident > div > div > div:nth-child(2) > div > ul > li > a{
  color: rgb(128, 138, 162);
  font-size: 17px;
  font-weight: bold;
}

section.ms_trident > div > div > div:nth-child(2), section.ms_trident > div > div > div:nth-child(3){
  text-align: left;
}

.ms_tridenttitle{
  font-size: 17px;
  font-weight: bold;
  color: rgb(3, 27, 78);
}



.ms_tridentparagraphcol{
  font-size: 12px;
}

.ms_minitab {
  padding-left: 49px;
  margin-top: 75px;
}

.ms_tablebox{
  margin-top: 35px;
}

/* regole ms_carosel */

.ms_carosel{
  background-color:rgb(243, 245, 249);
  margin-top: 80px;
}
.ms_carosel .ms_sectiontitle{
  padding: 70px 0 25px 0;
}

.ms_carosel .ms_paragraph{
  padding-bottom: 60px;
}

#myCarousel{
  width: 70%;
  height: auto;
  margin-top: 60px;
  margin: auto;
}
.carousel-indicators{
  background-color: transparent;
}

.ms_indicatorcontainer{
  margin-top: 20px;
}

.carousel-indicators>li, .carousel-indicators .active {
  border-radius: 100%;
  border-color: rgb(51, 133, 253);
  background-color: rgb(0, 106, 255);
}
.carousel-indicators>li{
  background-color: white;
}
.carousel-control .glyphicon-chevron-left,
 .carousel-control .glyphicon-chevron-right{
  font-size: 60px;
}

.first-slide, .second-slide, .third-slide {
  width: 100%;
  height: 100%;
}


/* sezione ms_features */


.ms_features{
  margin: 70px 0 60px 0;
}

.ms_featurestextleft{
  text-align: left;
  padding-top: 30px;
}


/* sezione ms_mytable*/
.ms_mytable{
  color: white;
  background: url(https://prismic-io.s3.amazonaws.com/www-static/a2e2e54b-93f5-4579-9fa2-bd957fea611a_bg-map.svg), linear-gradient(to bottom,rgb(0, 68, 195), #031c4e);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;

}

.ms_white{
color: white;
padding: 50px 0 20px 0;

}

.ms_mybluetablerow{
line-height: 45px;
border-bottom: 1px solid white;
font-size: 13px;
text-align: left;
}

.ms_mybluetablerow:first-child{
  border-color: rgb(168, 187, 230);
}

.ms_mybluetablerow:nth-child(2){
  border-color: rgb(169, 187, 228);
}

.ms_mybluetablerow:nth-child(3){
  border-color: rgb(177, 193, 231);
}


.ms_mybluetablerow:nth-child(4){
  border-color: rgb(174, 188, 227);
}

.ms_mybluetablerow:nth-child(5){
  border-color: rgb(173, 186, 226);
}


.ms_mybluetablerow:last-child{
  border:none;
  padding-bottom: 25px;
}

.ms_citycode{
  font-weight: 600;
}

.ms_mybluetablerow a{
  font-size: 12px;
  font-weight: 500;
  color: rgb(0, 201, 207);
}

.ms_mybluetablerow a:hover{
  text-decoration: none;
  color: rgb(22, 51, 255);
}


/* sezione ms_secondcarosel */
.ms_secondcaroselsection{
  padding: 80px 0 60px 0;
  background-color: rgb(243, 245, 249);
}

.ms_secondcaroselsection #myCarousel{
  width: 60%;
  margin-top: 60px;
}

.ms_secondcaroselsection img{
  width: 90%;
  margin: auto;
  padding-top: 45px;
}

.ms_slidetextup{
  font-size: 20px;
  color: rgb(93, 107, 137);
  padding: 30px 0 0 0;
}

.ms_namequote, .ms_creditquote{
  color: rgb(3, 27, 78);
  display: block;
}

.ms_namequote{
  font-weight: bold;
}

.ms_creditquote{
  padding-bottom: 20px;
}

.ms_quotes{
  padding:10px 0 30px 0;
}

/* regole sezione ms_prefooter */

.ms_prefooter{
  background: linear-gradient(to bottom,rgb(0, 68, 195), #031c4e);
}

.ms_prefooter .btn-default{
  color: rgb(27, 122, 255);
  font-weight: 600;
  margin-bottom: 40px;
}

.ms_prefooter .btn-default:hover{
  background-color:rgb(122, 133, 157);
}

footer{
  min-height: 300px;
  background-color: rgb(3, 28, 78);
  padding-bottom: 60px;
}

.ms_nosidepad{
  padding:15px 0 0 0;
  text-align: left;
}

footer .ms_tridenttitle{
  color:rgb(254, 254, 255);
}

.ms_footerlist{
  list-style: none;
  padding-left: 0;
}

.ms_footerlist li{
  text-align: left;
}

.ms_footerlist li a{
  color: rgb(163, 171, 187);
}

.ms_social-icons ul{
  list-style-type: none;
  padding:15px 0 0 0;
}

.ms_social-icons ul li{
  display: inline-block;
  font-size: 20px;
  padding-right: 10px;
}

.ms_social-icons ul li a, .ms_copyright{
  color: rgb(122, 133, 157);
}

.ms_social-icons ul li a:hover{
  font-size: 26px;
  color: rgb(0, 128, 255);
}

.ms_copyright{
  padding:10px 0 5px 0 ;
  font-weight: 600;
}

.ms_ny{
  color: rgb(88, 102, 134);
  font-weight: 500;
}
/* regole @Query */

/* Large devices (large desktops, 1200px and up) */
@media screen and (min-width:1201px) {

  #navbar.navbar-collapse.collapse.in, .navbar-toggle{
    display: none;
  }

  .ms_mybluetablerow:last-child{
    padding-bottom: 0;
  }

}
/* Medium devices (desktops, 992px and up) */
@media screen and (max-width:1200px) and (min-width:768px) {

  #navbar.navbar-collapse.collapse.in, .navbar-toggle{
    display: inline-block;
    position: absolute;
    top:5px;
    right:0px;
  }
}

@media all and (max-width:768px) {

  .ms_logo{
   min-width: 40px;
  }

  section.ms_trident > div > div > div:nth-child(3) > div:nth-child(1){
    margin-right: none;
  }

  section.ms_trident > div > div > div:nth-child(2) > div:nth-child(2), body > main > section.ms_trident > div > div > div:nth-child(2) > div:nth-child(3){
    margin-top: none;
  }

  .ms_minitab {
      padding-left: 0;
      margin-top: 15px;
  }

}
